div.container
            ul.col-md-12.row
                a(href="#")
                    li.col-md-3.col-md-offset-1 Contact
                a(href="#")
                    li.col-md-3 Home
                a(href="#")
                    li.col-md-3 Services
                  